* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #F3F3F3;
  width: 100%;
  height: 100%;
}

.header {
  width: 470px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  top: 8px;
}

.header input {
  width: 400px;
  height: 30px;
  border: none;
  text-indent: 10px;
}

.header input[type="text"] {
  font-size: 14px;
}

.header input:focus {
  outline-color: #99D04E;
}

.header button {
  width: 50px;
  height: 34px;
  background-color: #99D04E;
  border: none;
  font-size: 14px;
  font-weight: lighter;
}

hr {
  border: none;
  background-color: #00BBC7;
  color: #00BBC7;
  height: 1px;
}

h2 {
  width: 400px;
  margin: 0 auto;
  padding: 10px 0 20px 0;
}

.remove {
  background-color: #F46560;
  border: none;
  box-shadow: none;
  width: 60px;
  height: 20px;
  margin: 0 0 0 10px;
  border-radius: 25px;
  cursor: pointer;
}

.tasks {
  width: 100%;
}

ul li {
  list-style: none;
  margin: 20px 200px 0px 50px;

}