
* {
  margin: 0;
}

main {
  
  background-color: chocolate;
  font-family: sans-serif;
  font-size: 1em;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  justify-content: center;
  padding: 2%;
  padding-bottom: 400px;
  border-radius: 20px;

}

#sec01 {
  background-color: aliceblue;
  width: 95%;
  color: black;
  height: 80px;
  border-radius: 10px;
  
}

#sec02 {
  
  width: 95%;
  color: black;
  background-color: #0fa36b;
  display: flex;
  justify-content: flex-end;
  height: 80px;
  border-radius: 10px;
  padding-right: 25px;
}

       /* .box-container {
  background-color: #0fa36b;
  display: flex;
  justify-content: flex-start;
} */

/* .box-container {
  background-color: #0fa36b;
  display: flex;
  justify-content: flex-end;
} */